@import url('https://fonts.googleapis.com/css?family=Hind:400,700|Josefin+Sans:400,700|Lato:400,700|Open+Sans+Condensed:300|Open+Sans:400,600,700,800|Oxygen:400,700|Roboto:400,700|Raleway:400,500,600,700,800|Nothing+You+Could+Do|Nothing+You+Could+Do|Kaushan+Script|Poiret+One|Tangerine|Alex+Brush|Open+Sans+Condensed:300,700');

/*
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Alex Brush', cursive;
  font-family: 'Hind', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Nothing You Could Do', cursive;
  font-family: 'Poiret One', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Tangerine', cursive;
  
*/
