@import url("../style/navbar.css");

body {
  background: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#000;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  /*font-family: 'Open Sans', sans-serif;*/
  font-weight: 400;
  font-size: 14px;
    color: white;
}

/*.title-container {
  width: 1140px;
  max-width: 89%;
  margin: auto;
}*/
.main-wrap {
    background: url('../images/corpus-christi-skyline.jpg') no-repeat fixed;
  	background-position: left center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  	padding: 45px 0 23px 0;
}
.container {
  	font-family: 'Raleway', sans-serif;
  	background-color: rgba(57, 15, 86, .5);
  	margin: 50px auto 20px auto;
	border-radius: 4px;
}
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 40px;

    }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    h1 {
        font-size: 60px;

    }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    h1 {
        font-size: 80px;

    }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 100px;

    }
}

h1 {
    color: white;
    font-family: 'Alex Brush', cursive;
    background: -webkit-linear-gradient(#FFF, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub-title li {
    display: inline-block;
    text-align: center;
    width: 30%; /* 30% + 30% + 30% = 90% */
    float: left;
    margin: 1.66%; /* 1.66% + 1.66% + 1.66% = 10%*/
}
.sub-title h4, .sub-title h2{
    text-align: left;
}
.sub-title h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    opacity: .5;
}
.sub-title h2 {
    font-family: 'Open Sans', sans-serif;
}
.sub-title h4 a {
  color: #FFF;
}
.sub-title h4 span {
  text-decoration: underline;
}
.content h4 {
    font-size: 24px;
    font-weight: 700;
    color: rgb(191, 191, 191);
}
.sub-title h2 {
    font-family: 'Playfair Display', serif;
    font-size: 27px;
    margin: 25px 50px 40px 25px;
}
.sub-title {
    text-align: center;
    padding: 0;
}
.col-12-style {
  margin: 25px;
}
.main-content {
  margin: 25px;
  text-align: justify;
}
#bottomContent1,
#bottomContent2,
#bottomContent3,
#bottomContent4,
#bottomContent5,
#titleContent1,
#titleContent2,
#titleContent3,
#titleContent4,
#titleContent5 {
    display: none;
}
